<div class="container">
  <img src="../assets/divider-left.svg" alt="" />
  <div class="ua message">
    <h2>Привіт!</h2>
    <p>
      Це неймовірно, що ви вже знайшли наш сайт, але ви трохи рано. Однак, ми
      скоро зустрінемось знову, бо скоро сайт буде зроблено!
    </p>
  </div>
  <div class="en message">
    <h2>Hello!</h2>
    <p>
      It is incredible that you found this site, but you are a little too early.
      Still, we will meet again as soon as the site is ready!
    </p>
  </div>
  <img src="../assets/divider-right.svg" alt="" />
</div>
