<nav>
  <ul>
    <li><a href="#about-us">about us</a></li>
    <li><a href="#partnership">partnership</a></li>
    <li id="logo">
      <div>
        <p>KSU</p>
        <p>Startups</p>
      </div>
      <img src="./assets/logo.svg" alt="" />
    </li>
    <li><a href="#benefits">benefits</a></li>
    <li><a href="#contacts">contacts</a></li>
  </ul>
</nav>
<header id="about-us">
  <div id="header-container">
    <h1>Place to find investors</h1>
    <div id="info">
      <div id="about">
        <div>
          <p class="about-heading">who we are</p>
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </div>
        <div>
          <p class="about-heading">what do we do</p>
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </div>
      </div>
      <div id="guide">
        <div class="about-heading">how use platform</div>
        <p>Register yourself</p>
        <div>
          <img src="./assets/steps.svg" alt="stepper" />
          <p>Tell us about your project</p>
        </div>
        <div>
          <img src="./assets/steps.svg" alt="stepper" />
          <p>Wait for the proposals</p>
        </div>
      </div>
    </div>
    <button>Start now</button>
  </div>
</header>

<section id="partnership">
  <h1 class="heading">Partnership</h1>
  <app-partner
    *ngFor="let partner of partners"
    [partner]="partner"
  ></app-partner>
  <h2>
    Want to become our partner? Then
    <span class="highlight">contact us</span>!
  </h2>
</section>

<section id="benefits">
  <div class="benefit">
    <img src="./assets/icons/support.svg" alt="" />
    <p>Nearly instant support</p>
  </div>
  <div class="benefit">
    <img src="./assets/icons/reliability.svg" alt="" />
    <p>Reliability</p>
  </div>
  <div class="benefit">
    <img src="./assets/icons/new-ideas.svg" alt="" />
    <p>Constant flow of new ideas</p>
  </div>

  <button>Ready to start?</button>
</section>

<section id="contacts">
  <a href="tel: +380000000000" class="contact">
    <img src="./assets/contacts/phone.svg" alt="phone" />
    <p>+380000000000</p>
  </a>
  <a href="mailto: someEmail@gmail.com" class="contact">
    <img src="./assets/contacts/email.svg" alt="email" />
    <p>someEmail@gmail.com</p>
  </a>
  <a href="https://github.com/SheogorathD" class="contact">
    <img src="./assets/contacts/github.svg" alt="github" />
    <p>@SheogorathD</p>
  </a>
  <a href="https://www.kspu.edu" class="contact">
    <img src="./assets/contacts/uni.svg" alt="university" />
    <p>kspu.edu</p>
  </a>
</section>
