<nav>
  <ul>
    <li><a href="/welcome#about-us">about us</a></li>
    <li><a href="/welcome#partnership">partnership</a></li>
    <li class="logo">
      <div>
        <p>KSU</p>
        <p>Startups</p>
      </div>
      <img src="./assets/logo.svg" alt="" />
    </li>
    <li><a href="/welcome#benefits">benefits</a></li>
    <li><a href="/welcome#contacts">contacts</a></li>
  </ul>
</nav>
<header id="about-us">
  <div class="header-container">
    <h1>Place to find investors</h1>
    <div class="info">
      <div class="about">
        <div>
          <p class="about-heading">who we are</p>
          <p class="about-text">Platform for ambitios people and their ideas</p>
        </div>
        <div>
          <p class="about-heading">what do we do</p>
          <p class="about-text">
            We help people find finances for their amazing ideas
          </p>
        </div>
      </div>
      <div class="guide">
        <p class="about-heading">how use this platform</p>
        <p>Register yourself</p>
        <div>
          <img src="./assets/steps.svg" alt="stepper" />
          <p>Tell us about your project</p>
        </div>
        <div>
          <img src="./assets/steps.svg" alt="stepper" />
          <p>Wait for the proposals</p>
        </div>
      </div>
    </div>
    <button class="highlight" routerLink="/auth">Start now</button>
  </div>
</header>

<section id="partnership">
  <div class="section-content">
    <h2 class="heading">Partnership</h2>
    <app-partner
      *ngFor="let partner of partners | async"
      [partner]="partner"
    ></app-partner>
    <h3>
      Want to become our partner? Then
      <a href="#contacts" class="highlight">contact us</a>!
    </h3>
  </div>
</section>

<section id="benefits">
  <div class="section-content">
    <h2 class="heading">Benefits</h2>
    <div class="benefit-list">
      <div class="benefit">
        <img src="./assets/icons/support.svg" alt="" />
        <p>Nearly instant support</p>
      </div>
      <div class="benefit">
        <img src="./assets/icons/reliability.svg" alt="" />
        <p>Reliability</p>
      </div>
      <div class="benefit">
        <img src="./assets/icons/new-ideas.svg" alt="" />
        <p>Constant flow of new ideas</p>
      </div>
    </div>
    <button>Ready to start?</button>
  </div>
</section>

<section id="contacts">
  <div class="section-content">
    <h2 class="heading">Contacts</h2>
    <div class="contacts-list">
      <div class="first">
        <a href="tel: +380963102636" class="contact">
          <img src="./assets/contacts/phone.svg" alt="phone" />
          <span>+380963102636</span>
        </a>
        <a href="mailto: office@ksu.ks.ua" class="contact">
          <img src="./assets/contacts/email.svg" alt="email" />
          <span>office@ksu.ks.ua</span>
        </a>
        <!-- <a href="https://github.com/SheogorathD" class="contact">
          <img src="./assets/contacts/github.svg" alt="github" />
          <span>@SheogorathD</span>
        </a> -->
      </div>
      <div class="second">
        <a href="https://www.kspu.edu" class="contact">
          <img src="./assets/contacts/uni.svg" alt="university" />
          <span>kspu.edu</span>
        </a>
      </div>
    </div>
  </div>
</section>
